@import 'skeleton/skeleton.scss'; // Imports our normalize.scss and variables.scss for free...
@import 'base/utility.scss';

@import 'modules/nav.scss';
@import 'modules/page-header.scss';
@import 'modules/project-card.scss';
@import 'modules/resume.scss';
@import 'modules/footer.scss';

html { height: 100%; }

.container-main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1
}
