.article-gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.article-card {
	width: 550px;
	padding: 0 1rem;
	box-sizing: border-box;
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
	@media($bp-smaller-than-phablet) {
		width: 100%
	}
}
.article-card-header {
	display: flex;
	align-items: center;
}
.article-title {
	flex: 1;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
	text-decoration: none;
}
.article-card-footer {
	display: flex;
	justify-content: flex-end;
}
.article-description {
	margin-bottom: 0;
}
.article-date {
	font-size: 1.3rem;
	color: #555;
}