$border-radius-large: 10px;
$border-radius-small: 10px;
.collage {
	display: flex;
	justify-content: center;
	@media(max-width: 900px) {
		flex-direction: column;
		align-items: center;
	}
	.stacked-photos {
		display: none;
		@media(max-width: 900px) {
			display: flex;
		}
	}
	.photo-section {
		display: flex;
		flex-direction: column;
		width: 44vw;
		max-width: 175px;
		&-2 {
			width: 90vw;
			max-width: 360px;
		}
		@media(max-width: 900px) {
			&-1, &-3 { display: none; }
			&-2 {
				margin-bottom: 10px;
				@media(max-width: 400px) {
					margin-bottom: 5px;
				}
			}
		}
		&:not(:last-child) {
			margin-right: 10px;
			@media(max-width: 400px) {
				margin-right: 5px;
			}
		}
	}
	.photo-container {
		overflow: hidden;
		border-radius: $border-radius-large;
		@media(max-width: 400px) {
			border-radius: $border-radius-small;
		}
		&-1, &-5 {
			height: 28.9vw;
			max-height: 115px;
		}
		&-2, &-4 {
			height: 44vw;
			max-height: 175px;
		}
		&-3 {
			height: 75vw;
			max-height: 300px;
		}
		img {
			max-height: 100%;
			border-radius: $border-radius-large;
			@media(max-width: 400px) {
				border-radius: $border-radius-small;
			}
		}
		&:not(:last-child) {
			margin-bottom: 10px;
			@media(max-width: 400px) {
				margin-bottom: 5px;
			}
		}
	}
}