.home-page-header {
	padding-bottom: 0;
}
.intro {
	font-size: 1.7rem;
	font-weight: lighter;
	p {
		margin-bottom: 0;
	}
	margin-bottom: 2rem;
}
.intro-emojis {
	margin-top: 0.5rem;
	img {
		max-width: 105px;
	}
}