.home-page-header {
	padding-bottom: 0;
}
.page-header-title span {
	font-weight: bold;
}
.intro {
	font-size: 1.7rem;
	font-weight: lighter;
	p {
		margin-bottom: 0;
	}
	margin-bottom: 2rem;
}
.intro-emojis {
	font-size: 3rem;
}