.site-nav {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	align-items: center;
	@media($bp-smaller-than-phablet) {
		flex-direction: column;
	}
}

.nav-brand {
	font-size: 2.5rem;
	font-weight: lighter;
	text-decoration: none;
	color: #333;
	span {
		font-weight: bold;
		color: $primary-color;
	}
}

.nav-link-list {
	margin-bottom: 0;
}

.nav-link {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 0;
	font-weight: lighter;
	&:last-child {
		margin-right: 0;
	}
	a {
		text-decoration: none; 
	}
	a.active {
		font-weight: bold;
	}
}

@media($bp-smaller-than-phablet) {

}